In [ ]:
languajes = ["python","javascript","c++"]

In [ ]:
cap_lenguajes = []
for lenguaje in languajes:
  cap_lenguajes.append(lenguaje.capitalize())
cap_lenguajes

['Python', 'Javascript', 'C++']

In [ ]:
cap_lenguajes_comp = [lenguaje.capitalize() for lenguaje in languajes]
cap_lenguajes_comp

['Python', 'Javascript', 'C++']

In [ ]:
languajes = [lenguaje.capitalize() for lenguaje in languajes]
languajes

['Python', 'Javascript', 'C++']

In [ ]:
numeros = [ 1,2,3,4,5]

In [ ]:
dobles_numeros = []
for numero in numeros:
  dobles_numeros.append(numero*2)
dobles_numeros

[2, 4, 6, 8, 10]

In [ ]:
dobles_numeros = [numero * 2 for numero in numeros]
dobles_numeros

[2, 4, 6, 8, 10]

In [ ]:
multiplos = []
for numero in range(1,100):
  if numero % 5 == 0:
    multiplos.append(numero)
multiplos

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
multiplos_comp = [numero for numero in range ( 1,100) if numero%5 == 0]
multiplos_comp

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

# Resumiendo:
compresion:
[expresion for variable in colection if condition]

In [ ]:
coordenadas = []
for x in range( 0,6):
  for y in range(0,11):
    coordenadas.append((x,y))
coordenadas

In [ ]:
coordenadas = [(x,y) for x in range(0,6) for y in range(0,11) ]
coordenadas

In [ ]:
coordenadas = [(x,y) for x in range(0,6) for y in range(0,11) if x==y]
coordenadas

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5)]

# Diccionarios

In [ ]:
dobles = { "Clave numero: "+str(numero): numero *2 for numero in range(1,11)}
type(dobles)

dict

# Resumiendo:
compresion:
{clave:valor for variable in conlection if condition}

In [ ]:
dobles = { numero *2 for numero in range(1,11)}
type(dobles)

set

# Ejercicios

Supongamos que tenemos una lista de palabras y queremos crear tres nuevas listas que contengan palabras que comienzan con una vocal, una consonante y un número, respectivamente. Además, queremos convertir todas las palabras a minúsculas.

In [ ]:
palabras = ["Manzana", "Banana", "123abc", "Perro", "gato", "Elefante", "456def", "abeja", "Pájaro"]
# Lista numero 1 - palabras que empiecen con vocal
vocal = [palabra for palabra in palabras if palabra[0].lower() in "aeiou"]
# Lista numero 2 - palabras que empiezen con consonante
consonante = [ palabra for palabra in palabras if palabra[0].lower() not in "aeiou" and palabra[0].lower().isalpha()]
# Lista numero 3 - palabras que empiezen con numero
numeros = [ palabra for palabra in palabras if palabra[0].isdigit()]
print(f'''
Lista con palabras que empiecen con una vocal: {vocal}
Lista con palabras que empiecen con una consonante: {consonante}
Lista con palabras que empiecen con un numero: {numeros}
''')

Lista con palabras que empiecen con una vocal: ['Elefante', 'abeja']
Lista con palabras que empiecen con una consonante: ['Manzana', 'Banana', 'Perro', 'gato', 'Pájaro']
Lista con palabras que empiecen con un numero: ['123abc', '456def']

Supongamos que tenemos un diccionario que contiene nombres y edades, y queremos crear tres nuevos diccionarios que contengan nombres y edades de personas cuyos nombres comiencen con una vocal, una consonante y un número, respectivamente. Además, queremos convertir todos los nombres a minúsculas.

In [ ]:
personas = {
    "Ana": 25,
    "Juan": 30,
    "123Maria": 40,
    "Pedro": 35,
    "678Carlos": 45,
    "Elena": 28,
    "999Luisa": 50
}

vocales = {nombre.lower(): edad for nombre,edad in personas.items() if nombre[0].lower() in "aeiou"}
consonantes= {nombre.lower():edad for nombre,edad in personas.items() if nombre[0].lower() not in "aeiou" and nombre[0].isalpha()}
numeros = { nombre.lower():edad  for nombre,edad in personas.items() if nombre[0].isdigit()}
print(f'''
Diccionario con nombres y edad cuyo nombre empiecen con una vocal: {vocales}
Diccionario con nombres y edad cuyo nombre empiecen con una consonante: {consonantes}
Diccionario con nombres y edad cuyo nombre empiecen con una numero: {numeros}
''')

Diccionario con nombres y edad cuyo nombre empiecen con una vocal: {'ana': 25, 'elena': 28}
Diccionario con nombres y edad cuyo nombre empiecen con una consonante: {'juan': 30, 'pedro': 35}
Diccionario con nombres y edad cuyo nombre empiecen con una numero: {'123maria': 40, '678carlos': 45, '999luisa': 50}